/* Global classes */
*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
    word-wrap: break-word;
}
body{
    background-color: rgb(231, 231, 231);
}
.highlight{
    color: #ffffff;
    background-color: #000000;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0rem 0.5rem;
}
.btn{
    border: none;
    border: 1px solid #000000;
    text-transform: uppercase;
    background-color: rgb(238, 237, 237);
    padding: 1rem;
    font-weight: bolder;
    width: 200px;
    /* margin-left: 2rem; */
}
.btn:hover{
    background-color: rgb(228, 218, 218);
    cursor: pointer;
}
.heading{
    font-family: 'Cabin', sans-serif;
    font-weight: bolder;
}
.border{
    /* border: 1px solid white; */
    /* box-shadow: rgb(158, 158, 158); */
    box-shadow: 10px 10px 10px 10px rgb(182, 181, 181);
    margin: 2rem;
    background-color: white;
}
.right{
    margin: 0.5rem 0.5rem 1rem 80%;
}
.aside-3-highlight{
    background-color: rgb(226, 226, 226);
    margin: 0.2rem 1rem 0 0;
    padding: 0.2rem 0;
    /* padding: 0.5rem; */
}

/* wrapper class */
.wrapper{
    margin: 1rem 4rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
    'header header header'
    'section section aside'
    'footer footer footer';    
}


/* Header */


header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
}
header p{
    padding: 0.5rem 0;
}


/* Section */

section{
    grid-area: section;
}

.main{
    /* padding-left: 2rem; */
    display: flex;
    flex-direction: column;
}
.main-pad{
    padding: 0.5rem 0.2rem 0.2rem 2rem;
}
.main-pad h2,
.main-pad h3,
.main-pad p{
    padding: 0.5rem 0rem 1rem 0;
}
/* Aside */


aside{
    grid-area: aside;
}
/* aside 1 */
#aside-1 img{
    width: 100%;
}
/* aside 2 */


.aside-2-content{
    padding: 1rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#aside-2-heading{
    background-color: rgb(231, 231, 231);
}
.aside-2-para{
    padding-left: 1rem;
}
.aside-3-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.aside-3-content p{
    padding-left: 0.5rem;
    word-spacing: 1rem;
    margin-bottom: 2rem;
    /* min-height: 200px; */
}
.aside-3-content p span{
    margin-right: 0.5rem;
}
.aside-3-heading{
    background-color: rgb(230, 230, 230);
    padding: 0.8rem;
    margin-bottom: 1rem ;
}
/* footer */

#prvs-btn{
    background-color: grey;
    color: white;
    padding: 0.5rem;
    margin: 1rem;
}
#next-btn{
    background-color: black;
    color: white;
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
}
#prvs-btn:hover{
    cursor: pointer;
    background-color: black;
}
#next-btn:hover{
    cursor: pointer;
    background-color: grey;
}
footer{
    grid-area: footer;
    margin: 0;
    padding : 1rem;
    width: 100%;
    text-align: center;
    background-color: rgb(187, 187, 187);
}


/* Media Queries */

@media(max-width: 768px){
    .wrapper{
        grid-template-areas: 
        'header'
        'section'
        'aside'
        'footer';
        width: auto;
    }
}
@media(max-width: 500px){
    .wrapper{
        width: auto;
        grid-template-areas: 
        'header'
        'section'
        'aside'
        'footer';
    }
}