/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    padding: 2em 1em;
    background: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-size: 1.2rem;
    font-weight: bold;
}

.btn {
    border: 1px solid #000;
    background: #000;
    color: #fff;
    padding: 0.3em 1em;
}

img {
    width: 100%;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

header nav .navbar {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 251, 251);
    opacity: 0.8;
    width: 50%;
    border: 1px solid black;
    height: 100vh;
    padding: 10vh 0 0 10px;
    transform: translateX(-100%);
    transition: all 0.4s linear;
}

.toggle-bar {
    position: absolute;
    top: 1%;
    right: 7%;
    cursor: pointer;
}

nav.show {
    transform: translateX(0);
}

/* hero banner */

.hero-banner {
    background: url('../img/slide1.png') no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    margin-bottom: 1em;
}

.hero-banner h2 {
    font-size: 2rem;
}

/* section-2 */

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.cards .card a {
    color: blue;
}

/* xbox */

#xbox {
    background: url("../img/xbox.png") no-repeat center center / cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2em;
}

#xbox .content {
    line-height: 1.5;
    width: 50%;
    /* display: inline-block; */
}
#xbox a{
    margin-top: 1em;
}

#xbox p{
    display: none;
}

/* products */
.products .cards .card a{
    text-transform: uppercase;
}

/* carbon */

.carbon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    height: 60vh;
    background: url('../img/carbon.jpg') no-repeat center center / cover;
    color: #fff;
    gap: 1em;
    margin-bottom: 1em;
}
.carbon .content { 
    width: 65%;
}
.carbon p{
    display: none;
}

/* footer */

.footer ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: rgb(165, 164, 164);
    gap: 1em;

}

.footer ul a{
    color: rgb(165, 164, 164);
    font-size: 1rem;

}

/* Media Queries */

@media(min-width: 580px) {
    .toggle-bar {
        display: none;
    }
    header {
        justify-content: space-between;
    }
    header h1 {
        width: 15%;
    }
    header nav {
        all: unset;
        width: 75%;
        margin: 0 5%;
    }
    header nav .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    .menu-right {
        width: 15%;
    }
    header nav .navbar li a {
        font-size: 1rem
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer ul{
        grid-template-columns: repeat(6,1fr);
    }
}

@media(min-width: 780px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
    #xbox p{
        display: block;
    }
    .carbon p{
        display: block;
    }
    .footer ul{
        grid-template-columns: repeat(auto,1fr);
    }
}