* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: #333;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    display: flex;
}

.container {
    background: #222;
    overflow: hidden;
    margin: auto;
    width: 80%;
    color: #fff;
    height: 200px;
    border: 1px solid #fff;
}

h1 {
    width: 80%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.tab {
    display: flex;
    background: #333;
    border-right: 1px solid #fff;
    width: 40px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in;
}

.content {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #fff;
    text-align: center;
    margin-left: 40px;
}

.svg, .red {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.3s ease-in;
    position: absolute;
    top: 0;
    left: 0;
}

.red {
    left: 0px;
    background: rgb(255, 65, 65);
    transform: translateX(-100%);
    z-index: 2;
}

.tab:hover {
    width: 250px;
}

.tab:hover .svg {
    z-index: -1;
}

.tab:hover .red {
    transform: translateX(0);
    z-index: 2;
}

@media(max-width: 700px) {
    .container {
        width: 400px;
        flex-direction: column;
        height: 90vh;
    }
    .tab:hover {
        width: 100%;
    }
    .tab:hover .content {
        width: 100%;
    }
    .tab {
        height: 200px;
    }
}